*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto';
    line-height: 1.6rem;
}
header{
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
nav  li{
    display: inline;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
.about{
    margin-top: 30px;
    text-align: center;
}
.about h2{
    margin-bottom: 20px;
    color: black;
 }

 .about img{
    width: 500px;
    height: 500px;
    margin-bottom: 30px;
    object-fit: cover;
    
 }


.about p{
    font-size: 1.2rem;
    margin-bottom: 30px;
}

 .about-more{
    color: #fff;
    background-color:black;
    padding: 1rem 2rem;
    border-radius: 5px;
    cursor: pointer;
 }
 .about-more:hover{
    background-color: #414141;
    color: antiquewhite;
    cursor: pointer;
 }
 .work{
    margin-top: 30px;
    text-align: center;
}
.work h2{
    
    margin-bottom: 20px;
    color: black;
}
.work p{
    font-size: 1.2rem;
    margin-bottom: 30px;
 }
.resume{
    text-align: center;
}
.resume h2{
    
    margin-bottom: 20px;
    color: black;
}
.resume  p{
    font-size: 1.2rem;
    margin-bottom: 20px;
}
.resume a{

     background-color: blue;
     padding: 10px 10px;
}
 .contact{
    padding: 50px 0;
    text-align: center;
}
.contact h2{
    margin-bottom: 20px;
    color: black;
}
.contact form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact input , .contact textarea{
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 5px;
}
.contact button{
    color: #fff;
    background-color:blue;
    padding: 1rem 2rem;
    border-radius: 5px;
    cursor: pointer;
}
.footer{
   background-color: #333;
   color: #fff;
   padding: 20px 10px;
   text-align: center;
}